In [3]:
import pandas as pd
urlfile = "https://raw.githubusercontent.com/codebasics/py/master/ML/14_naive_bayes/spam.csv"
df = pd.read_csv(urlfile)
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
# grouping by category
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [6]:
# changing the ham and spam values to zero using lambda function
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  Spam  spam
0      ham  Go until jurong point, crazy.. Available only ...     0     0
1      ham                      Ok lar... Joking wif u oni...     0     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     0     1
3      ham  U dun say so early hor... U c already then say...     0     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0     0

In [7]:
# splitting
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size=0.25)

In [8]:
# changing the Message values to numbers
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [11]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count, y_train)

MultinomialNB()

In [15]:
emails = [
    'Hey Mohan, can we get together to watch football game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1])

In [16]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9820531227566404

In [17]:
# simplying the code using pipeline
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [18]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [19]:
clf.score(X_test, y_test)

0.9820531227566404

In [22]:
clf.predict(emails)

array([0, 1])